flows/withDebugs.json
[{"id":"281cf151.d7e30e","type":"websocket-listener","path":"/simulator","wholemsg":"false"},{"id":"303a560c.cfc5aa","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":""},{"id":"3fcb780e.c03488","type":"mqtt in","name":"power robot 2","topic":"/r2/power","broker":"303a560c.cfc5aa","x":156,"y":472,"z":"32ff030b.cd00fc","wires":[["8c76e0d0.73892"]]},{"id":"87231f75.78dce","type":"mqtt in","name":"power robot 3","topic":"/r3/power","broker":"303a560c.cfc5aa","x":158,"y":527,"z":"32ff030b.cd00fc","wires":[["8c76e0d0.73892"]]},{"id":"fb0cfab6.04f308","type":"mqtt in","name":"power robot 1","topic":"/r1/power","broker":"303a560c.cfc5aa","x":157,"y":417,"z":"32ff030b.cd00fc","wires":[["8c76e0d0.73892","124e61b3.edb19e"]]},{"id":"99394664.66c6b8","type":"mqtt in","name":"power robot 4","topic":"/r4/power","broker":"303a560c.cfc5aa","x":157,"y":594,"z":"32ff030b.cd00fc","wires":[["8c76e0d0.73892"]]},{"id":"2398ac71.dc6754","type":"mqtt in","name":"state robot 1","topic":"/r1/state","broker":"303a560c.cfc5aa","x":162,"y":99,"z":"32ff030b.cd00fc","wires":[["69c09e1c.963f6"]]},{"id":"e9d0904.f162f7","type":"mqtt in","name":"state robot 2","topic":"/r2/state","broker":"303a560c.cfc5aa","x":163,"y":152,"z":"32ff030b.cd00fc","wires":[["69c09e1c.963f6"]]},{"id":"4e4b32fb.b1b4cc","type":"mqtt in","name":"state robot 3","topic":"/r3/state","broker":"303a560c.cfc5aa","x":162,"y":202,"z":"32ff030b.cd00fc","wires":[["69c09e1c.963f6"]]},{"id":"7b7e1e09.8481e","type":"mqtt in","name":"state robot 4","topic":"/r4/state","broker":"303a560c.cfc5aa","x":164,"y":258,"z":"32ff030b.cd00fc","wires":[["69c09e1c.963f6"]]},{"id":"d2927e73.2d6d8","type":"websocket out","name":"webSocketOut","server":"281cf151.d7e30e","x":771,"y":318,"z":"32ff030b.cd00fc","wires":[]},{"id":"69c09e1c.963f6","type":"function","name":"jsonify","func":"var topics = msg.topic.split(\"/\");\nvar messages = msg.payload.split(\"|\");\n\nvar returnValues = {\n  \"robot\" : topics[1],\n  \"type\"  : topics[2],\n  \"value\" : messages[0],\n  \"carId\" : messages[1]\n}\n\nreturn returnValues;","outputs":1,"x":455,"y":176,"z":"32ff030b.cd00fc","wires":[["d2927e73.2d6d8","dcc83b34.2337c8"]]},{"id":"8c76e0d0.73892","type":"function","name":"jsonify","func":"var topics = msg.topic.split(\"/\");\nvar messages = msg.payload.split(\"|\");\n \nvar returnValues = {\n  \"robot\" : topics[1],\n  \"type\"  : topics[2],\n  \"value\" : messages[0],\n  \"carId\" : messages[1]\n}\n  \nreturn returnValues;","outputs":1,"x":461,"y":478,"z":"32ff030b.cd00fc","wires":[["d2927e73.2d6d8","d7933dbc.286cc"]]},{"id":"124e61b3.edb19e","type":"debug","name":"","active":false,"console":"true","complete":"true","x":610,"y":642,"z":"32ff030b.cd00fc","wires":[]},{"id":"d7933dbc.286cc","type":"debug","name":"","active":true,"console":"false","complete":"false","x":711,"y":504,"z":"32ff030b.cd00fc","wires":[]},{"id":"dcc83b34.2337c8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":659,"y":127,"z":"32ff030b.cd00fc","wires":[]}]